# Виртуальное окружение
.venv/

# Кеши Python
__pycache__/
*.pyc

# Кеш pytest
.pytest_cache/

# Локальная база данных
sql_app.db

# Временные файлы
cookies.txt

# .env уже должен быть в .gitignore, чтобы не попадал в репозиторий
user_management/external_weather.py